.page {
  /* background: steelblue; */
  /* color: white; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.product {
  margin: 5rem;
}

.content-wrapper {
  max-width: 50rem;
  height: auto;
}
